*{
    font-family: 'Courier New', Courier, monospace;
}

.calculator-container{
    display: flex;
    flex-direction: column;
    border: 10px black solid;
    padding: 7px;
    gap: 10px;
    background-color: #336699;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    display: flex;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.operator{
    border: 0;
    background-color: #DAF7DC;
    color: black;
}

.delete, .clear{
    border: 0;
    background-color: #9EE493;
    color: black;
}

.num, .equals, .decimal {
    border: 0;
    background-color: #86BBD8;
    color: black;
}

.button-row{
    display: flex;
    gap: 4px;
    margin-bottom: 4px;
}

.button-row-last{
    display: flex;
    gap: 4px;
    margin-bottom: 4px;
}

.number-display{
    margin: 0;
    font-size: 64px;
    text-align: end;
    border: 2px black solid;
    padding: 7px;
    height: 75px;
    background-color: #E0E0E0;
    max-width: 500px;
    height: 75px;
    overflow: hidden;
}